body {
    background-color: #000d1e;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background:white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(42, 242, 20, 0.5);
    text-align: center;
    color: white;
}

.login-container {
    background: #000d1e;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.logo {
    width: 300%;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #0056b3;
}

.error-message {
    color: red;
    font-size: 14px;
}
.container {
    background:white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(42, 242, 20, 0.5);
    text-align: center;
    color: white;
}
.panel {
    margin-top: 20px;
}
input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    border: none;
    background: #ffffff;
    color: rgb(0, 0, 0);
}
button {
    background:rgb(25, 246, 32);
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 85%;
}
a {
    color:rgb(27, 218, 53);
    text-decoration: none;
}
     p {
    color:rgb(0, 0, 0);
    text-decoration: none;
}

img {
    max-width: 100px;
    display: block;
    margin: 0 auto 20px;

}

body {
background-color:rgb(0, 0, 0);
}

.whatsapp-buttons {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	margin-top: 15px;
}

.whatsapp-button {
	flex: 1;
	background-color: #25D366;
	color: white;
	padding: 10px 0;
	border: none;
	border-radius: 6px;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	transition: background 0.3s, transform 0.2s;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.whatsapp-button:hover {
	background-color: #1eb154;
	transform: translateY(-2px);
}

.whatsapp-button i {
	font-size: 16px;
}
